/* Variables */
:root {
    --dark: black;
    --medium-dark: hsl(0, 0%, 25%);
    --medium-light: hsl(0, 0%, 75%);
    --light: white;
}

* {
    background-color: var(--dark);
    color: var(--light);
}

#plot > text, #points > circle {
    fill: var(--light);
}
#trendline {
    fill: none;
    stroke: red;
    stroke-width: 2;
}

#properties {
    scrollbar-color: var(--light) var(--dark);
}
#properties th,
#properties td {
    border: 1px solid white;
}
#properties .file-header {
    background-color: var(--medium-dark);
    color: var(--light);
}
#properties .file-header:hover {
    cursor: pointer;
}
